<table>
    <thead>
        <tr>
            <th>
                User
            </th>
        </tr>
    </thead>
    <tbody>
        <% @retweets.each do |rt| %>
            <tr>
                <td>
                    <p><%= rt.user %> has retweeted this</p>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back to Home', root_path %>