<div class = "container">
    <h3>Retweet!</h3>
    <%= form_with(url: create_retweet, local: true) do |ff| %>
        <div class = "form-group">
            <div>
                <%= ff.text_area :content, class: "form-control w-50" %>
            </div>
        </div>
    
            <div>
                <%= ff.hidden_field :tweet_id, value: @tweet_id %>
            </div>
    
            <div>
                <%= ff.submit nil, class: "btn btn-primary mt-2 mb-5" %>
            </div>
        </div>
<% end %>
</div>