<div class="container">
    <h3>Tweets with #<%= @hashtag %></h3>
    
    <% @hashtag_tweets.each do |t| %>
        <%= render 'tweet', tweet: t %>
    <% end %>
    <%= link_to "Go back", root_path %>
</div>