<h1>Welcome <%= current_user ? current_user.name : "stranger" %></h1>
<p>This is my Twitter clone </p>

<h3>Wanna tweet something?</h3>

<%= render 'form', tweet: @tweet %>

<h3>Latest tweets</h3>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
    <% @tweets.each do |t| %>
        <tr>
            <td><%= t.content %></td>
            <td><%= t.user %></td>
        </tr>
    <% end %>
    </tbody>
</table>