<table>
    <thead>
        <tr>
            <th>
                Autor
            </th>
        </tr>
    </thead>
    <tbody>
        <% @likes.each do |l| %>
        <tr>
            <td>
                <p><strong><%= l.user %></strong> likes this</p>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>