.avatar {
    border-radius: 50%;
}

h1, .logo {
    font-family: 'Fredoka One', cursive;
    color: #fff;
}

.more {
    font-family: 'Lobster Two', cursive;;
}

/* All this for a sticky footer */
<<<<<<< HEAD
=======

>>>>>>> ec3a6ba5cec2bda88ee9607fc70c7c4fe10c5052
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
min-height: 100%;
margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}